<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verifica E-mail</title>
  </head>
  <body style="margin: 0; padding: 0; background-color: #f0f0f0; height: 100vh; display: flex; align-items: center;">
    <table
      align="center"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="max-width: 600px; margin: auto; padding: 20px;"
    >
      <tr>
        <td align="center" bgcolor="#ffffff" style="border: 1px solid #f2994a; border-radius: 5px; box-shadow: 0px 0px 10px 0px #f2994a; padding: 40px;">
          <h1 style="font-family: 'Sora', sans-serif; font-weight: 600; font-size: 24px;">Verifique seu E-mail</h1>
          <hr style="width: 100%;" />
          <p style="font-family: 'Poppins', sans-serif; font-size: 14px; text-align: center;">Para validar seu endereço de e-mail <b>digite este código</b> em seu navegador.</p>
          <div style="background-color: #f2994a; color: #fff; border-radius: 5px; padding: 15px; margin: 15px 0; font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: 700;">
            {{ code_validation }}
          </div>
          <p style="color: #ff0000; margin-bottom: 10px;">O código expira em 15 minutos.</p>
          <p style="font-family: 'Poppins', sans-serif; font-size: 14px; text-align: center;">
            Se você não solicitou esta validação, você pode ignorar este e-mail.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
